$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// @import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* MIXINS */
@mixin border_radius($radius: 10px) {
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
}
@mixin border_top_radius($radius: 10px) {
	border-top-left-radius: $radius !important;
	-webkit-border-top-left-radius: $radius !important;
	-moz-border-top-left-radius: $radius !important;
	border-top-right-radius: $radius !important;
	-webkit-border-top-right-radius: $radius !important;
	-moz-border-top-right-radius: $radius !important;
}
@mixin border_left_radius($radius: 10px) {
	border-top-left-radius: $radius !important;
	-webkit-border-top-left-radius: $radius !important;
	-moz-border-top-left-radius: $radius !important;
	border-bottom-left-radius: $radius !important;
	-webkit-border-bottom-left-radius: $radius !important;
	-moz-border-bottom-left-radius: $radius !important;
}
@mixin border_right_radius($radius: 10px) {
	border-top-right-radius: $radius !important;
	-webkit-border-top-right-radius: $radius !important;
	-moz-border-top-right-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
	-webkit-border-bottom-right-radius: $radius !important;
	-moz-border-bottom-right-radius: $radius !important;
}
@mixin border_bottom_radius($radius: 10px) {
	border-bottom-left-radius: $radius !important;
	-webkit-border-bottom-left-radius: $radius !important;
	-moz-border-bottom-left-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
	-webkit-border-bottom-right-radius: $radius !important;
	-moz-border-bottom-right-radius: $radius !important;
}
@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
	background: $color_top !important;
	background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
	background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_top, endColorstr=$color_bottom,GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
	-moz-box-shadow: 0 0 5px $shadow;
	-webkit-box-shadow: 0 0 5px $shadow;
	box-shadow: 0 0 5px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
	transition: all $segundos ease;
	-ms-transition: all $segundos ease;
	-webkit-transition: all $segundos ease;
	-o-transition: all $segundos ease;
	-moz-transition: all $segundos ease;
}
@mixin anim_transicion_linear( $segundos: 0.3s ){
	transition: all $segundos linear;
	-ms-transition: all $segundos linear;
	-webkit-transition: all $segundos linear;
	-o-transition: all $segundos linear;
	-moz-transition: all $segundos linear;
}

body{
	font-family: Arial;
}
*{
	behavior: url(PIE.htc);
	font-size: 12px;
}
a{
	@include anim_transicion_linear(0.3s);
	span{
		@include anim_transicion_linear(0.3s);
	}
}
input[type="checkbox"],
input[type="radio"]{
	margin-left: 1px!important;
	margin-right: 5px!important;
}
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"]{
	border: 1px solid #7e9db9!important;
	@include border_radius( 2px );
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 25px;
	padding: 0 5px;
	margin: 3px!important;
	margin-left:0!important;
	font-weight:normal!important;
}
select:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="tel"]:disabled{
	background: #e5e5e5;
}

.gray-input {
	background: #e5e5e5!important;
}

input[type="checkbox"]{
	margin: 0 3px!important;
}
input.calendario{
	width: 75px!important;
}
input.monto{
	text-align: right;
}
input.search{
	background: #ffffff url(/images/ico-lupa.png) right 5px no-repeat;
	background-size: 20px;
	padding-right: 20px!important;
	margin:5px 10px 0 0!important;
	width: 220px;
	display: inline;
}
input.num{
	width: 60px;
	text-align:center;
}
.inline{
	display:inline-block!important;
}
.form-control{
	font-size: 12px!important;
	padding: 0 5px!important;
}
.container{
	width: auto;
	min-width: 1190px;
	padding: 0 30px;

}
.clear-fix{
	clear: both;
	overflow: hidden;
}
.fontNormal{
	font-weight:normal!important;
}
.textC{
	text-align: center;
}
.textR{
	text-align: right!important;
}
.textL{
	text-align: left!important;
}
.displayB{
	display: block;
}
.displayIB{
	display: inline-block;
}
.v-hidden{
	visibility: hidden;
}
.v-alignT{
	vertical-align:top;
	td{
		vertical-align:top;
	}
}
.v-alignM{
	vertical-align: middle!important;
	td{
		vertical-align:middle!important;
	}
}
/* COLORS */
.color666666{
	color: #666666;
}
/* ANCHOS PIX */
.width25{
	width:25px!important;
}
.width30{
	width:30px!important;
}
.width40{
	width:40px!important;
}
.width50{
	width:50px;
}
.width60{
	width:60px;
}
.width80{
	width:80px!important;
}
.width100{
	width:100px!important;
}
.width120{
	width:120px!important;
}
.width125{
	width:125px!important;
}
.width145{
	width:145px!important;
}
.width180{
	width:180px!important;
}
.width200{
	width:200px!important;
}
.width230{
	width:230px!important;
}
.width250{
	width:250px!important;
}
.width260{
	width:260px!important;
}
.width280{
	width:280px!important;
}
.width290{
	width:290px!important;
}
.width310{
	width:310px;
}
.width325{
	width:325px;
}
.width500{
	width:500px;
}
.width700{
	width:700px;
}
.width750{
	width:750px;
}
.width900{
	width:900px!important;
}
/* ANCHOS PORCENTAJES */
.width4p{
	width: 4%!important;
}
.width10p{
	width: 10%!important;
}
.width11-1p{
	width: 11.1%!important;
}
.width14-2p{
	width: 14.2%!important;
}
.width19-2p{
	width: 19.2%!important;
}
.width20p{
	width: 20%!important;
}
.width24p{
	width: 24%!important;
}
.width25p{
	width: 25%!important;
}
.width30p{
	width: 30%!important;
}
.width33p{
	width: 33%!important;
}
.width40p{
	width: 40%!important;
}
.width49-5p{
	width: 49.5%!important;
}
.width50p{
	width: 50%!important;
}
.width60p{
	width: 60%!important;
}
/* MARGINS PIX */
.marginT5{
	margin-top: 5px;
}
.marginT15{
	margin-top: 15px;
}
.marginT20{
	margin-top: 20px;
}
.marginT35{
	margin-top: 35px;
}
.marginR10{
	margin-right: 10px;
}
.marginB15{
	margin-bottom: 15px;
}
.marginL10{
	margin-left: 10px;
}
.marginL15{
	margin-left: 15px;
}
/* PADDINGS PIX */
.padding5{
	padding:5px;
}
.padding10{
	padding:10px;
}
.paddingT10{
	padding-top:10px;
}
.paddingT17{
	padding-top:17px;
}
.paddingR3{
	padding-right:3px;
}
.paddingR10{
	padding-right:10px;
}
.paddingR15{
	padding-right:15px;
}
.paddingL0{
	padding-left:0px!important;
}
.paddingL3{
	padding-left:3px!important;
}
.paddingL5{
	padding-left:5px!important;
}
.paddingL10{
	padding-left:10px!important;
}
.paddingL15{
	padding-left:15px!important;
}
.paddingL116{
	padding-left:116px!important;
}
.paddingL125{
	padding-left:125px!important;
}
.paddingL143{
	padding-left:143px!important;
}
.paddingTB6{
	padding-top: 6px!important;
	padding-bottom: 6px!important;
}
/* PADDINGS PORCENTAJES */
.paddingR40p{
	padding-right:40%;
}
/* BGS */
.bgf0f4f9{
	background: #f0f4f9;
}
.bgf4f4f4{
	background: #f4f4f4;
}
.bgfeeded{
	background: #feeded;
}
/* BORDES */
.borderR1-CCCCCC{
	border-right: 1px solid #cccccc;
}
/* BOTONES */
.btn{
	background: #717171;
	font-size: 12px;
	padding: 3px 20px;
	@include border_radius( 15px );
	@include anim_transicion_linear(0.3s);
}
.btn-primary{
	background: #1e87dd;
}
.btn-primary:hover{
	background: #09347a;
}
.btn-danger{
	background: #cc0000;
}
.btn-danger:hover{
	background: #820202;
}

.btn-cuadrado{
	@include border_radius(3px);
	padding: 3px 8px!important;
}
.span140{
	width: 140px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
}
.span160{
	width: 160px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
}
.span175{
	width: 175px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
	font-size:11px;
}
.span310{
	width: 310px;
	display: block;
	margin: 0 auto;
	text-align: left;
	clear: both;
}
.span325{
	width: 325px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
}
.span400{
	width: 400px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
}
.span445{
	width: 445px;
	display: block;
	margin: 0 auto;
	text-align: left!important;
	clear: both;
}

/* ICONOS */
.ico-ayuda{
	background: url(/images/ico-ayuda.png) left no-repeat;
	background-size: 42px;
	width: 20px;
	height: 20px;
	display: inline-block;
	.ico-ayuda-h{
		background: url(/images/ico-ayuda.png) right no-repeat;
		background-size: 42px;
		width: 20px;
		height: 20px;
		display: block;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		@include anim_transicion_ease(0.5s);
	}
}
.ico-ayuda:hover{
	.ico-ayuda-h{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
}
.ico-print{
	background: url(/images/ico-print.png) left no-repeat;
	background-size: 48px;
	width: 23px;
	height: 21px;
	display: inline-block;
	.ico-print-h{
		background: url(/images/ico-print.png) right no-repeat;
		background-size: 48px;
		width: 23px;
		height: 21px;
		display: block;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		@include anim_transicion_ease(0.5s);
	}
}
.ico-print:hover{
	.ico-print-h{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
}
.ico-calendar{
	background: url(/images/ico-calendar.png) no-repeat;
	background-size: 20px;
	width: 20px;
	height: 23px;
	display: inline-block;
	margin-right:10px;
	position: relative;
	margin-bottom: -8px;
}
.ico-exclama{
	background: url(/images/ico-exclama.png) no-repeat;
	background-size: 12px;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
	top: 1px;
}
.ico-basurero{
	background: url(/images/ico-basurero.png) no-repeat;
	background-size: 13px;
	width: 13px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 2px;
}

header{
	.logo-bnmx{
		background: url(/images/logo.png) no-repeat;
		background-size: 184px;
		width: 184px;
		height: 41px;
		margin: 5px 0;
		float: left;
	}
	.links{
		font-size: 11px;
		float: right;
		clear: right;
		margin: 5px 0;
		color: #666666;
		a{
			color: #666666;
		}
		a:hover{
			color: #333333;
			text-decoration: none;
		}
	}
	.logo-bancanet{
		background: url(/images/bancanet.png) no-repeat;
		background-size: 89px;
		width: 89px;
		height: 30px;
		float: right;
		clear: right;
		margin-bottom: 10px;
	}
	nav{
		clear: both;
		overflow: visible;
		margin-top: 10px;
		display: block;
	}
	nav.nav-1nivel{
		background: #09347a;
		height: 27px;
		padding: 0 0 0 15px;
		margin-bottom: 10px;
		@include border_radius(5px);
		a{
			@include anim_transicion_ease(0s);
			font-size: 12px;
			color: #FFFFFF;
			display: inline-block;
			position: relative;
			top: -5px;

			border-bottom: none;
			padding: 9px 6px 6px 6px;
			@include border_top_radius(5px);
		}
		a:hover{
			// background: #FFFFFF;
			// color: #333333;
			// top: -6px;
			// border: 1px solid #a0a0a0;
			// border-bottom: none;
			// padding: 9px 5px 6px 5px;
			text-decoration: none;
		}
		a.active{
			background: #FFFFFF;
			color: #333333;
			top: -6px;
			text-decoration: none;
			border: 1px solid #a0a0a0;
			border-bottom: none;
			padding: 9px 5px 6px 5px;
		}

		a.salir{
			@include anim_transicion_ease(0.5s);
			background: #FFFFFF;
			border: 1px solid #cc0000;
			color: #cc0000;
			float: right;
			position: static;
			padding: 5px 15px 3px 15px;
			@include border_radius(5px);
			span.arrow{
				background: url(/images/ico-salir.png) left no-repeat;
				background-size: 38px;
				width: 19px;
				height: 18px;
				display: block;
				position: absolute;
				margin: -1px 0 0 -24px;
				span.arrow-h{
					background: url(/images/ico-salir.png) right no-repeat;
					background-size: 38px;
					width: 19px;
					height: 18px;
					display: block;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					filter: alpha(opacity=0);
					-moz-opacity: 0;
					-khtml-opacity: 0;
					opacity: 0;
				}
			}

		}
		a.salir:hover{
			background: #cc0000;
			color: #FFFFFF;
			span.arrow{
				span.arrow-h{
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
					-moz-opacity: 1;
					-khtml-opacity: 1;
					opacity: 1;
				}
			}
		}
	}
	nav.nav-2nivel{
		border-bottom: 1px solid #d0d0d0;
		overflow: hidden;
		a{
			font-size: 12px;
			padding:10px;
			color: #1e87dd;
		}
		a:hover,
		a.active{
			color: #ff5c00;
			text-decoration: none;
		}
	}
	.datos-usuario{
		@include border_radius(5px);
		background: #f1f1f1;
		border: 1px solid #e6e6e6;
		padding: 10px 20px;
		margin: 20px 0;
		overflow: hidden;
		p{
			font-size: 12px;
			color: #666666;
			margin: 0;
		}
		a{
			color: #1e87dd;
			text-decoration: underline;
		}
		a:hover{
			color: #09347a;
		}
		a.mensajes{
			display: inline-block;
			margin-left: 15px;
			.sobre{
				background: url(/images/ico-sobre.png) no-repeat;
				background-size: 16px;
				width: 30px;
				height: 13px;
				display: inline-block;
				margin-right: 5px;
				.noti{
					background: #1e87dd;
					color: #FFFFFF;
					width: 14px;
					height: 12px;
					display: block;
					text-align: center;
					font-size: 9px;
					margin: 1px 0 0 14px;
					@include border_radius(11px);
				}
			}
		}
		a.mensajes:hover{
			.noti{
				background: #09347a;
			}
		}
	}
}
.titulo-principal{
	clear: both;
	overflow: hidden;
	h1{
		background: url(/images/ico-titulo.png) 0 4px no-repeat;
		font-size: 20px;
		color: #09347a;
		margin: 0 0 15px 0;
		padding: 0 0 0 20px;
		cursor: default;
		@include anim_transicion_linear(0.3s);
	}
	h1:hover{
		background: url(/images/ico-titulo.png) 3px 4px no-repeat;
	}
	a,
	a:hover{
		display: inline-block;
		margin-left: 10px;
		text-decoration: none;
	}
}
.titulo-secundario{
	clear: both;
	overflow: hidden;
	h2{
		font-weight: bold;
		color: #333333;
		font-size: 14px;
		margin: 0 0 10px 0;
	}
}
p.instrucciones{
	font-size: 12px;
	color: #666666;
}
.paginador{
	background: #f1f1f1;
	border: 1px solid #bec6d6;
	padding: 5px 20px;
	float: right;
	@include border_radius(20px);
	span{
		display: inline-block;
		color: #FFFFFF;
		background: #1e87dd;
		width: 20px;
		height: 20px;
		text-align: center;
		padding: 3px;
		margin: 0 3px;
		@include border_radius(10px);
	}
}
.panels-container{
	border: 1px solid #09347a;
	overflow: hidden;
	clear: both;
	@include border_bottom_radius(5px);
	.panel{
		clear: both;
		overflow: hidden;
		margin: 0;
		border: none;
		margin-top: -1px;
		@include border_radius(0px);

		.panel-heading{
			background: #09347a;
			padding: 0;
			border: none;
			border-top: 1px solid #FFFFFF;
			@include border_radius(0px);
			h4{
				color: #FFFFFF;
				font-size: 13px;
				a,
				a:hover{
					cursor: move;
					display: block;
					padding: 6px 10px;
					color: #FFFFFF;
					text-decoration: none;
					span{
						cursor: pointer;
						width: 18px;
						height: 18px;
						padding-top: 1px;
						border: 1px solid #2d8319;
						display: inline-block;
						color: #09347a;
						text-align: center;
						margin-right: 10px;
						@include gradient_top_bottom( #ffffff, #eaeaea);
						@include border_radius(3px);
					}
				}
			}
		}
		.panel-collapse{
			overflow: hidden;
			.content-panel{
				margin: 10px;

        .nav-tabs{
					border-color: #09347a;
					li{
						a{
							background:#f0f4f9;
							padding: 15px 60px;
							font-size: 12px;
							border-color: #09347a;
							color: #1e87dd;
							font-weight: bold;
							text-decoration:none;
						}
					}
					li.active{

						a{
							background: #FFFFFF;
							color: #000000;
							border-color: #09347a;
							border-bottom: 1px solid #FFFFFF;
						}
					}
				}
        .content-tabs{
					border: 1px solid #09347a;
					border-top: none;
					overflow-y: scroll;
        			max-height: 950px;
					padding: 10px 5px 20px 5px;
					margin-top: -1px;
					@include border_bottom_radius(5px);
					.cuenta-label{
						padding-top:5px;
						padding-left: 5px;
					}
					.cuenta{
						width: 75%;
						margin-left: 0;
					}
					p{
						font-size: 12px;
						color: #666666;
					}
					table{
						clear: both;
						border:none;
						border-collapse: separate;
						tbody{
							border: none;
						}
						tr{

							td{
								text-align: center;
								font-size: 11px;
								color: #666666;
								border-top: none;
								border-right: 1px solid #d0d0d0;
								padding: 0;
								.btn-expasor,
								.btn-expasor:hover{
									cursor: pointer;
									width: 18px;
									height: 18px;
									padding-top: 1px;
									border: 1px solid #2d8319;
									display: inline-block;
									color: #09347a!important;
									text-align: center;
									margin: 0 auto;
									text-decoration: none!important;
									@include gradient_top_bottom( #ffffff, #eaeaea);
									@include border_radius(3px);
								}
								.head{
									color: #333333;
									border-bottom: 1px solid #FFFFFF;
									height: 28px;
									padding: 5px;
									font-weight: bold;
									font-size: 11px;
									label{
										font-size: 11px!important;
									}
								}
								.content{
									font-size: 11px;
									padding: 5px;
									form{
										font-size: 11px!important;
									}
									input[type="text"]{
										margin-bottom: 5px;
									}
									select{
										margin: 3px 0;
									}
									span{
										font-size: 11px;
									}
									strong,
									label{
										color: #333333;
										font-size: 11px;
									}
									a{
										font-size: 11px;
										color: #1e87dd;
										text-decoration: underline;
									}
									a:hover{
										color: #09347a;
									}
									span.ultimo-pago{
										color: #989ba0;
										font-size: 11px;
										padding-top: 3px;
									}
								}

								table.tabla-fila{
									width: 100%;
									border:none;
									td{
										a.mas-menos-opciones{
											display: inline-block;
											padding-top: 3px;
										}
										span.ultimo-pago{
											padding-left: 10px;
											float: right;
										}
										.tool-tip{
											position: absolute;
											margin: -50px 0 0 0;
											display:none;
											background: #FFFFFF;
											border: 1px solid #dadde2;
											@include border_radius( 5px );
											padding: 5px 5px 0 5px;
											.arrow{
												background: url(/images/white_arrow_down.png) no-repeat;
												background-size: 10px;
												width: 10px;
												height: 7px;
												margin: 0 auto;
												position: relative;
												top: 7px;
											}
											p{
												font-size: 11px!important;
												text-align: center;
												margin: 0;
											}
										}
										.tooltip-eliminar{
											margin: -35px 0 0 0;
										}
										.btn{
											font-size: 16px;
											font-weight: normal;
											margin: 0 auto;
											width: 30px;
											height: 30px;
											padding: 0;
										}
										a,a:hover{
											text-decoration: none;
										}
									}
									table.tabla-interna{
										width: 100%;
										background: #f3f3f3;

										td{
											border-right:none!important;
											border-bottom: 1px solid #b7b7b7;
											padding: 10px 5px;
										}
									}
								}
							}
							td:last-child{
								border-right: none!important;
							}
						}
						thead{
							th{
								border:none!important;
								border-right: 1px solid #d0d0d0!important;
								border-bottom: 1px solid #FFFFFF!important;
								padding: 5px!important;
								font-size: 11px;
								.head{
									font-size: 11px;
								}
							}
							td.border{
								border-right: 1px solid #d0d0d0!important;
							}
						}
						tfoot{
							td{
								padding: 10px 0;
								font-size: 12px;
								color: #000000;
								font-weight: bold;
								border:none!important;
								border-top: 1px solid #d0d0d0!important;
								border-bottom: 1px solid #d0d0d0!important;
							}
							

						}
						strong{
							font-size: 11px;
						}
					}
					strong{
						color: #333333;
					}
				}
				.cuenta-label{
					padding-top:5px;
					padding-left: 5px;
				}
				.cuenta{
					width: 75%;
					margin-left: 15px;
				}
				p{
					font-size: 12px;
					color: #666666;
				}
				a{
					font-size: 11px;
					color: #1e87dd;
					text-decoration: underline;
				}
				a:hover{
					color: #09347a;
				}
				table{
					clear: both;
					border:none;
					border-collapse: separate;
					tbody{
						border: none;
					}
					tr{

						td{
							text-align: center;
							font-size: 11px;
							color: #666666;
							border-top: none;
							border-right: 1px solid #d0d0d0;
							padding: 0;
							.btn-expasor,
							.btn-expasor:hover{
								cursor: pointer;
								width: 18px;
								height: 18px;
								padding-top: 1px;
								border: 1px solid #2d8319;
								display: inline-block;
								color: #09347a!important;
								text-align: center;
								margin: 0 auto;
								text-decoration: none!important;
								@include gradient_top_bottom( #ffffff, #eaeaea);
								@include border_radius(3px);
							}
							.head{
								color: #333333;
								border-bottom: 1px solid #FFFFFF;
								height: 28px;
								padding: 5px;
								font-weight: bold;
								font-size: 11px;
								label, span{
									font-size: 11px!important;
								}
							}
							.content{
								//overflow: hidden;
								font-size: 11px;
								padding: 5px;
								form{
									font-size: 11px!important;
								}
								input[type="text"]{
									margin-bottom: 5px;
								}
								select{
									margin: 3px 0;
								}
								span{
									font-size: 11px;
								}
								strong,
								label{
									color: #333333;
									font-size: 11px;
								}
								a{
									font-size: 11px;
									color: #1e87dd;
									text-decoration: underline;
								}
								a:hover{
									color: #09347a;
								}
								span.ultimo-pago{
									color: #989ba0;
									font-size: 11px;
									padding-top: 3px;
								}
							}
							.tooltip-eliminar{
								position: absolute;
								margin: -35px 0 0 0;
								display:none;
								background: #FFFFFF;
								border: 1px solid #dadde2;
								@include border_radius( 5px );
								padding: 5px 5px 0 5px;
								.arrow{
									background: url(/images/white_arrow_down.png) no-repeat;
									background-size: 10px;
									width: 10px;
									height: 7px;
									margin: 0 auto;
									position: relative;
									top: 7px;
								}
								p{
									font-size: 11px!important;
									text-align: center;
									margin: 0;
								}
							}
							table.tabla-fila{
								width: 100%;
								border:none;
								td{

								}
								table.tabla-interna{
									width: 100%;
									background: #f3f3f3;

									td{
										border-right:none!important;
										border-bottom: 1px solid #b7b7b7;
										padding: 10px 5px;
									}
								}
							}
						}
						td:last-child{
							border-right: none!important;
						}
					}
					thead{
						td{
							border:none!important;
							padding: 0;
						}
						td.border{
							border-right: 1px solid #d0d0d0!important;
						}
					}
					strong{
						font-size: 11px;
					}
				}
				strong{
					color: #333333;
				}
			}
		}
	}
}
.panels-container2{
	margin-top: 20px;
	border: 1px solid #7386ae!important;
	.panel-heading{
		background:#7386ae!important;
	}
}
.alert-succes{
	background: #edf5e8;
	border: 1px solid #64ad40;
	padding: 15px;
	@include border_radius(5px);
	margin-bottom: 20px;
	p{
		margin: 0;
		font-size: 12px;
		color: #666666;
		span{
			color: #000000;
		}
	}
}
.alert-info{
	background: #f1f1f1;
	border: 1px solid #bec6d6;
	padding: 15px;
	@include border_radius(5px);
	margin-bottom: 20px;
	p{
		margin: 0;
		font-size: 12px;
		color: #666666;
		span{
			color: #000000;
		}
	}
}

.content-box{
	border: 1px solid #7487ae;
	padding: 10px;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
	@include border_radius(5px);
	.title{
		font-weight: bold;
		padding: 10px;
	}
	.contenido{
		width: 80%;
		border-left: 1px dotted #d0d0d0!important;
		padding: 10px;
		overflow: hidden;
		color: #666666;
	}
	.contenido-total{
		margin: 10px;
		color: #666666;
		.title{
			font-weight: bold;
			padding: 0px;
			color: #333333;
			border-bottom: 1px solid #d0d0d0;
			margin-bottom: 20px;
		}
	}
	table{
		width: 100%;
		clear: both;
		border:none;
		border-collapse: separate;
		tbody{
			border: none;
		}
		tr{

			td{
				font-size: 11px;
				color: #666666;
				border-top: none;
				border-right: 1px solid #d0d0d0;
				padding: 0;
				.btn-expasor,
				.btn-expasor:hover{
					cursor: pointer;
					width: 18px;
					height: 18px;
					padding-top: 1px;
					border: 1px solid #2d8319;
					display: inline-block;
					color: #09347a!important;
					text-align: center;
					margin: 0 auto;
					text-decoration: none!important;
					@include gradient_top_bottom( #ffffff, #eaeaea);
					@include border_radius(3px);
				}
				.head{
					color: #333333;
					border-bottom: 1px solid #FFFFFF;
					height: 28px;
					padding: 5px;
					font-weight: bold;
					font-size: 11px;
					label, span{
						font-size: 11px!important;
					}
				}
				.content{
					font-size: 11px;
					padding: 5px;
					form{
						font-size: 11px!important;
					}
					input[type="text"]{
						margin-bottom: 5px;
					}
					select{
						margin: 3px 0;
					}
					span{
						font-size: 11px;
					}
					strong,
					label{
						color: #333333;
						font-size: 11px;
					}
					a{
						font-size: 11px;
						color: #1e87dd;
						text-decoration: underline;
					}
					a:hover{
						color: #09347a;
					}
					span.ultimo-pago{
						color: #989ba0;
						font-size: 11px;
						padding-top: 3px;
					}
				}
				.tooltip-eliminar{
					position: absolute;
					margin: -35px 0 0 0;
					display:none;
					background: #FFFFFF;
					border: 1px solid #dadde2;
					@include border_radius( 5px );
					padding: 5px 5px 0 5px;
					.arrow{
						background: url(/images/white_arrow_down.png) no-repeat;
						background-size: 10px;
						width: 10px;
						height: 7px;
						margin: 0 auto;
						position: relative;
						top: 7px;
					}
					p{
						font-size: 11px!important;
						text-align: center;
						margin: 0;
					}
				}
			}
			td:last-child{
				border-right: none!important;
			}
		}
		tfoot{
			td{
				border-right: none!important;
				border-top: 1px solid #cdcecf;
				color: #333333;
			}
		}
		thead{
			th{
				padding: 0!important;
			}
		}
		strong{
			font-size: 11px;
		}
		span.ultimo-pago{
			color: #989ba0;
			font-size: 11px;
			padding-top: 3px;
		}
	}
	
	strong{
		color: #333333;
	}
}
table.datos{
	width: 100%;
	border-collapse: separate;
	margin-bottom: 10px;
	thead{
		tr{
			td{
				font-weight: bold!important;
				color: #333333!important;
				padding: 2px 5px!important;
			}
			td.border{
				border-right: 1px solid #d0d0d0!important;
			}	
		}
		

	}
	td{
		border-right: 1px solid #cdcecf;
		padding: 2px 5px!important;
		font-size: 11px;
		text-align: left!important;
	}
	td:last-child{
		border-right: none;
	}
	td.row-error{
		color: #ee2e24!important;
	}
	td.borderNone{
		border-right: none !important;
	}

	.head{
		border-bottom:none;
		color: #333333;
		height: 28px;
		font-weight: bold;
		font-size: 11px;
		padding: 0!important;
		border-bottom: none!important;
		label{
			font-size: 11px!important;
		}
	}
	.content{
		font-size: 11px;
		padding: 0!important;
		span{
			font-size: 11px;
		}
		strong,
		label{
			color: #333333;
			font-size: 11px;
		}
		a{
			font-size: 11px;
			color: #1e87dd;
			text-decoration: underline;
		}
		a:hover{
			color: #09347a;
		}

	}
	.fila-interna{
		font-size: 11px;
		width: auto;
		margin-right: 20px;
		margin-bottom: 3px;
		border-bottom: 1px dotted #b7b7b7!important;;
	}
}


.area-botones{
	clear: both;
	overflow: hidden;
	margin: 10px 0;
}

.que-hacer{
	border: 1px solid #d0d0d0;
	margin: 20px 0;
	overflow: hidden;
	clear: both;
	font-size: 12px;
	@include border_radius(5px);
	.titulo{
		background: #1e87dd url(/images/bg-que-hacer.png) top right no-repeat;
		color: #FFFFFF;
		padding: 1px 30px 1px 10px;
		float: left;
		clear: both;
		cursor: default;
	}
	.row{
		clear: both;
		.link{
			border-right: 1px dotted #d0d0d0;
			margin-bottom: 10px;
			height: 25px;
			a{
				display: block;
				padding: 5px 10px;
				color: #1e87dd;
				font-size: 11px;
				text-decoration: underline;
			}
			a:hover{
				color: #09347a;
			}
		}
	}
}

/* MODALES */
.overlay-blk{
	z-index: 999999;
	background: #000000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
  background-color: rgba(0,0,0,0.5);
}
.modal-bne{
	@include border_radius(10px);
	background: #FFFFFF;
	border: 1px solid #8086aa;
	margin: 0 auto 0 auto;
	color: #666666;
	padding: 20px;
	position: relative;
	z-index:9999999;
	top:140px;
	.title{
		margin: 0 0 20px 0;
		font-size: 15px;
		font-weight: bold;
		padding-bottom: 10px;
		color: #000000;
		border-bottom: 1px solid #cccccc;
	}
	.nobrdr{
		border-bottom: none!important;
	}
	label{
		font-weight: normal;
		clear: both;
		display: block;
	}
	.challng{
		display: block;
		margin: 20px 0;
		font-size: 22px;
		font-weight: bold;
		color: #666666;
		.num{
			color: #1e87dd;
			font-size: inherit;
			font-weight: inherit;
		}
	}
	.area-botones{
		margin: 20px 0 0 0!important;
	}
}

footer{
	nav{
		display: block;
		border-top: 1px solid #d0d0d0;
		padding: 10px 0;
		font-size: 11px;
		color: #1e87dd;
		a{
			font-size: 11px;
			color: #1e87dd;
			text-decoration: underline;
		}
		a:hover{
			color: #09347a;
		}
	}
}

.disabledDiv{
	pointer-events: none;
}

.total-payment {
  margin: 0 0 30px 0;
  padding: 0 0 20px 700px;
  border-top: solid 1px #d0d0d0;
  border-bottom: solid 1px #d0d0d0;
}
