<div class="container">

	<div class="panels-container">
		<div class="panel panel-default">
			<div class="panel-heading borderT0">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseOne">
						<span>+</span> Cuentas Propias
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseOne">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; click en "Continuar". Si requiere adicionar m&aacute;s pagos de click en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseTwo">
						<span>+</span> Cuentas Terceros Banamex
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseTwo">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; click en "Continuar". Si requiere adicionar m&aacute;s pagos de click en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseThree">
						<span>+</span> Cuentas Interbancarias
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseThree">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; click en "Continuar". Si requiere adicionar m&aacute;s pagos de click en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr ng-repeat="payingAccount in payingAccounts">
										<td>
											<div class="content">

                        <angucomplete id="origin-account"
                          placeholder="Selecciona la cuenta origen"
                          pause="20"
                          selectedobject="payingAccount.source"
                          url="http://localhost:4567/api/accounts?query="
                          datafield="docs"
                          titlefield="name"
                          minlength="1"
                          enabledefault="true"
                          amount="amount_d"
                          inputclass="form-control form-control-small"/>

												<br>

                        <angucomplete id="origin-account"
                          placeholder="Selecciona la cuenta destino"
                          pause="20"
                          selectedobject="payingAccount.target"
                          url="http://localhost:4567/api/interbank?query="
                          datafield="docs"
                          titlefield="name,bank_t"
                          minlength="1"
                          enabledefault="true"
                          inputclass="form-control form-control-small"/>

											</div>
										</td>
										<td>
											<div class="content">
												<form class="form-inline">
                          <input type="text" currency="" placeholder="$" class="form-control" ng-model="payingAccount.amount">
												</form>
											</div>
										</td>
										<td>
											<div class="content">
												<form class="form-inline">
                          <input ng-model="payingAccount.date" type="text" class="form-control calendar"
                            name=""
                            id="{{payingAccount.id + '-date'}}"
                            value=""
                            placeholder="dd/mm/aaaa"/>

													<span class="ico-calendar"></span>
												</form>
												<strong>Fecha de aplicaci&oacute;n</strong>
												<form class="form-inline">
													<select>
														<option>Seleccione</option>
													</select>
												</form>
                        <label ng-show="payingAccount.amount > maxAmount"><input ng-model="payingAccount.remoteAuth" type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
										</td>

                    <td>
											<div class="content">
                        <button class="btn btn-close" ng-click="removePayingAccount(payingAccount.id)">x</button>
                      </div>
                    </td>

									</tr>

								</tbody>
							</table>

              <button type="button" class="btn btn-primary" ng-click="addPayment()">Agregar más pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseFour">
						<span>+</span> Ordenes de Pago
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseFour">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; click en "Continuar". Si requiere adicionar m&aacute;s pagos de click en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="area-botones">
		<button type="button" class="btn btn-primary pull-right">Continuar</button>
	</div>

	<div class="que-hacer">
		<p class="titulo">&iquest;Qu&eacute; desea hacer?</p>
		<div class="row">
			<div class="col-md-4 link">
				<a href="javascript:void(0);">Ver historial de Banca Electr&oacute;nica</a>
			</div>
			<div class="col-md-4 link">
				&nbsp;
			</div>
			<div class="col-md-4 link">
				&nbsp;
			</div>
		</div>
	</div>
</div>


