
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="" href="" data-target="#collapseOne">
          Cuentas Propias
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseOne">
      <div class="payment-section">
        <h3>Pagos Múltiples</h3>
        <p>Seleccione una cuenta de retiro, capture la información de su(s) pago(s) y dé click en "Continuar". Si requiere adicionar más pagos de click en el botón "Agregar más pagos".</p>

        <table class="table">
          <tbody>
          <tr>
            <td><input type="checkbox" value="" ></td>
            <td>1</td>
            <td>Cuentas</td>
            <td>Importe MXN</td>
            <td><label><input type="checkbox" value="" > Programar a fecha futura</label></td>
            <td><label><input type="checkbox" value="" > Autorizar en forma remota</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              Cuenta retiro
              <select class="form-control">
                <option>Seleccione una opción</option>
              </select>
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
              Cuenta depósito
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
            </td>
            <td>
              <form class="form-inline">
                $ <input class="form-control" type="text" value="" ></td>
            </form>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" value="" ></td>
            <td>2</td>
            <td>Cuentas</td>
            <td>Importe MXN</td>
            <td><label><input type="checkbox" value="" > Programar a fecha futura</label></td>
            <td><label><input type="checkbox" value="" > Autorizar en forma remota</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              Cuenta retiro
              <select class="form-control">
                <option>Seleccione una opción</option>
              </select>
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
              Cuenta depósito
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
            </td>
            <td>
              <form class="form-inline">
                $ <input class="form-control" type="text" value="" ></td>
            </form>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" value="" ></td>
            <td>3</td>
            <td>Cuentas</td>
            <td>Importe MXN</td>
            <td><label><input type="checkbox" value="" > Programar a fecha futura</label></td>
            <td><label><input type="checkbox" value="" > Autorizar en forma remota</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              Cuenta retiro
              <select class="form-control">
                <option>Seleccione una opción</option>
              </select>
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
              Cuenta depósito
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
            </td>
            <td>
              <form class="form-inline">
                $ <input class="form-control" type="text" value="" ></td>
            </form>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" value="" ></td>
            <td>4</td>
            <td>Cuentas</td>
            <td>Importe MXN</td>
            <td><label><input type="checkbox" value="" > Programar a fecha futura</label></td>
            <td><label><input type="checkbox" value="" > Autorizar en forma remota</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              Cuenta retiro
              <select class="form-control">
                <option>Seleccione una opción</option>
              </select>
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
              Cuenta depósito
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
            </td>
            <td>
              <form class="form-inline">
                $ <input class="form-control" type="text" value="" ></td>
            </form>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" value="" ></td>
            <td>5</td>
            <td>Cuentas</td>
            <td>Importe MXN</td>
            <td><label><input type="checkbox" value="" > Programar a fecha futura</label></td>
            <td><label><input type="checkbox" value="" > Autorizar en forma remota</label></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              Cuenta retiro
              <select class="form-control">
                <option>Seleccione una opción</option>
              </select>
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
              Cuenta depósito
              <select class="form-control">
                <option>Seleccione una cuenta</option>
              </select>
            </td>
            <td>
              <form class="form-inline">
                $ <input class="form-control" type="text" value="" ></td>
            </form>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
            <td>
              <form class="form-inline">
                Fecha <input class="form-control" type="text" value="" >
                <span class="glyphicon glyphicon-calendar"></span>
              </form>
              <form class="form-inline">
                Hora 
                <select class="form-control">
                  <option>hh</option>
                </select>
                <select class="form-control">
                  <option>mm</option>
                </select>
                hrs
              </form>
            </td>
          </tr>

          </tbody>
        </table>

        <button type="button" class="btn btn-primary">Agregar más pagos</button>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="" href="" data-target="#collapseTwo">
          Cuentas Terceros Banamex
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseTwo">
      Cuentas terceros Banamex
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="" href="" data-target="#collapseThree">
          Cuentas Interbancarias
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseThree">
      Cuentas interbancarias
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="" href="" data-target="#collapseThree">
          Ordenes de Pago
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseThree">
      Ordenes de pago
    </div>
  </div>
</div>
