<div class="container">

	<div class="panels-container">
		<div class="panel panel-default">
			<div class="panel-heading borderT0">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseOne">
						<span>+</span> Cuentas Propias
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseOne">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; clic en "Continuar". Si requiere adicionar m&aacute;s pagos de clic en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseTwo">
						<span>+</span> Cuentas Terceros Banamex
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseTwo">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; clic en "Continuar". Si requiere adicionar m&aacute;s pagos de clic en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Comprobante Fiscal</label>
											</div>
											<div class="content">
												<form class="form-inline">
													<strong>RFC</strong> <input class="form-control" type="text" value="" >
												</form>
												<form class="form-inline">
													<strong>IVA&nbsp;&nbsp;</strong> <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseThree">
						<span>+</span> Cuentas Interbancarias
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseThree">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; clic en "Continuar". Si requiere adicionar m&aacute;s pagos de clic en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

              <div class="content">
                <h4>Cuenta origen</h4>

                <div>
                  <angucomplete id="origin-account"
                  placeholder="Selecciona la cuenta origen"
                  pause="20"
                  selectedobject="payingAccount.source"
                  url="http://projects.anzen.com.mx:4567/api/accounts?query="
                  datafield="docs"
                  titlefield="name,currency_t,format_amount_t"
                  imagefield="image_t"
                  minlength="1"
                  enabledefault="true"
                  inputclass="form-control form-control-small"/>
                </div>
              </div>

							<table class="table">
								<tbody>
									<tr ng-repeat="payingAccount in payingAccounts">
										<td>
											<div class="content">
                        <h4>Cuenta destino</h4>

                        <div>
                          <angucomplete id="target-account"
                            placeholder="Selecciona la cuenta destino"
                            pause="20"
                            selectedobject="payingAccount.target"
                            url="http://projects.anzen.com.mx:4567/api/interbank?query="
                            datafield="docs"
                            titlefield="name,bank_t"
                            minlength="1"
                            enabledefault="true"
                            inputclass="form-control form-control-small"/>
                        </div>

                        <a href="" ng-click="payingAccount.more = true" ng-show="!payingAccount.more">Más opciones <span class="caret"></span></a>
                        <a href="" ng-click="payingAccount.more = false" ng-show="payingAccount.more" class="dropup">Menos opciones <span class="caret"></span></a>

                        <span ng-show="payingAccount.target.originalObject.last_payment_d > 0">Último pago: {{payingAccount.target.originalObject.last_payment_d | currency}} {{payingAccount.target.originalObject.last_date_t | date:'dd/MM/yyyy'}}</span>

                          <input ng-show="payingAccount.more" class="form-control" type="text" name="" id="" value="" placeholder="Número de referencia"/>
                          <input ng-show="payingAccount.more" class="form-control" type="text" name="" id="" value="" placeholder="Concepto de pago"/>
											</div>
										</td>
										<td>
											<div class="content">
												<form class="form-inline">
                          <input type="text" currency="" placeholder="$" class="form-control" ng-model="payingAccount.amount">
												</form>
                        <input ng-show="payingAccount.more" class="form-control" type="text" name="" id="" value="" placeholder="RFC"/>
											</div>
										</td>
										<td>
											<div class="content">
												<form class="form-inline">
                          <input ng-model="payingAccount.date" type="text" class="form-control calendar"
                            name=""
                            id="{{payingAccount.id + '-date'}}"
                            value=""
                            placeholder="dd/mm/aaaa"/>

													<span class="ico-calendar"></span>
												</form>
												<strong>Fecha de aplicaci&oacute;n</strong>
												<form class="form-inline">
													<select>
														<option>Mismo día</option>
														<option>Día siguiente</option>
													</select>
												</form>
                        <label ng-show="payingAccount.amount > maxAmount"><input ng-model="payingAccount.remoteAuth" type="checkbox" value="" > Autorizar en forma remota</label>
                          <input ng-show="payingAccount.more" class="form-control" type="text" name="" id="" value="" placeholder="IVA"/>
                          <label ng-show="payingAccount.more" ><input ng-model="payingAccount.fiscal" type="checkbox" value="" >Comprobante fiscal</label>
											</div>
										</td>

                    <td>
											<div class="content">
                        <button ng-show="$index + 1 !== payingAccounts.length" class="btn btn-close" ng-click="removePayingAccount(payingAccount.id)">x</button>
                        <button ng-show="$index + 1 === payingAccounts.length" type="button" class="btn btn-primary" ng-click="addPayment()">+</button>
                      </div>
                    </td>

									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="" href="javascript:void(0);" data-target="#collapseFour">
						<span>+</span> Ordenes de Pago
					</a>
				</h4>
			</div>
			<div class="panel-collapse collapse" id="collapseFour">
				<div class="content-panel">
					<ul class="nav nav-tabs">
						<li class="active"><a href="javascript:void(0);">Pagos M&uacute;ltiples</a></li>
						<li><a href="javascript:void(0);">Alta de Beneficiarios</a></li>
					</ul>
					<div class="content-tabs">
						<div class="tab-pagos-multiples">
							<p>
								Seleccione una cuenta de retiro, capture la informaci&oacute;n de su(s) pago(s) y d&eacute; clic en "Continuar". Si requiere adicionar m&aacute;s pagos de clic en el bot&oacute;n "Agregar m&aacute;s pagos".
							</p>

							<table class="table">
								<tbody>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">1</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">2</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">3</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">4</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="head textC">
												<input type="checkbox" value="" >
											</div>
										</td>
										<td>
											<div class="head textC">5</div>
										</td>
										<td>
											<div class="head">Cuentas</div>
											<div class="content">
												Cuenta retiro
												<br>
												<select>
													<option>Seleccione una opci&oacute;n</option>
												</select>
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
												<br>
												Cuenta dep&oacute;sito
												<br>
												<select>
													<option>Seleccione una cuenta</option>
												</select>
											</div>
										</td>
										<td>
											<div class="head">Importe MXN</div>
											<div class="content">
												<form class="form-inline">
													$ <input class="form-control" type="text" value="" >
												</form>
											</div>
										</td>
										<td>
											<div class="head">Sucursal</div>
											<div class="content">
												<form class="form-inline">
													<input class="form-control" type="text" value="" >
												</form>
												<a href="javascript:void(0);">Ver el directorio de sucursales</a>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Programar a fecha futura</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong> 
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
										<td>
											<div class="head">
												<label><input type="checkbox" value="" > Autorizar en forma remota</label>
											</div>
											<div class="content">
												<form class="form-inline">
													Fecha <input class="form-control calendar" type="text" value="" >
													<span class="ico-calendar"></span>
												</form>
												<form class="form-inline">
													<strong>Hora&nbsp;&nbsp;</strong>
													<select>
														<option>hh</option>
													</select>
													<select>
														<option>mm</option>
													</select>
													hrs
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary">Agregar m&aacute;s pagos</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="area-botones">
		<button type="button" class="btn btn-primary pull-right">Continuar</button>
	</div>

	<div class="que-hacer">
		<p class="titulo">&iquest;Qu&eacute; desea hacer?</p>
		<div class="row">
			<div class="col-md-4 link">
				<a href="javascript:void(0);">Ver historial de Banca Electr&oacute;nica</a>
			</div>
			<div class="col-md-4 link">
				&nbsp;
			</div>
			<div class="col-md-4 link">
				&nbsp;
			</div>
		</div>
	</div>
</div>


