<div class="content-tabs">
	<div class="tab-pagos-multiples">
		<div class="" ng-switch on="state">
			<div ng-switch-when="multiplePayments">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>3</span> de <span>3</span></p>
				</div>
			</div>
			<div ng-switch-when="beneficiaryGroups">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>3</span> de <span>3</span></p>
				</div>
			</div>
		</div>
		<div class="alert-succes">
			<p>Sus pagos han sido transferidos. Por favor verifique el estatus de sus movimientos.</p>
		</div>
		<div ng-show="state=='beneficiaryGroups'">
            <p class="intrucciones"><strong>Nombre del grupo:&nbsp;&nbsp;</strong>{{selectedGroup.name}}{{newGroupName}}</p>
		</div>
		<div class="content-box">
			<p class="title pull-left">Autorizadores</p>
			<div class="contenido pull-right">
				<table class="datos">
					<tbody>
						<tr class="bgf0f4f9">
							<td><strong>Usuario 79</strong></td>
							<td>BEST BANKING DOS</td>
						</tr>
						<tr>
							<td><strong>Usuario 97</strong></td>
							<td>BEST BANKING</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="clear-fix">
			<a href="javascript:void(0);" class="pull-right" ng-click="showPrint()">
				<span class="ico-print">
					<span class="ico-print-h"></span>
				</span>
			</a>
		</div>

		<table class="datos">
			<tbody>
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}" ng-repeat="payingAccount in ownpayingAccounts | filter:validateInterbankPayment">
					<td>{{$index + 1}}</td>
					<td>{{payingAccount.source.originalObject.name}}</td>
					<td>{{payingAccount.target.originalObject.name}} {{payingAccount.target.originalObject.bank_t}} {{payingAccount.target.originalObject.account_t}} - {{payingAccount.target.originalObject.currency_t}}</td>
					<td><span class="displayB textR">{{payingAccount.amount | currency}} {{payingAccount.target.currency_t}}</span></td>
					<td>{{payingAccount.appliedDate}}</td>
					<td>Aplicada</td>
					<td>001005</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<td class="width4p border">Num.</td>
					<td class="width23-5p border">Cuenta retiro</td>
					<td class="width23-5p border">Cuenta dep&oacute;sito</td>
					<td class="width13p border">Importe</td>
					<td class="width16p border">Fecha / Hora de Aplicaci&oacute;n</td>
					<td class="width10p border">Estatus</td>
					<td class="width10p">Autorizaci&oacute;n</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3" class="textR paddingR10">TOTAL PAGADO:</td>
					<td>
						<div class="textR paddingR5">{{ getTotalPayment(ownpayingAccounts) | currency}}</div>
					</td>
					<td colspan="3"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div>
	<div class="area-botones" ng-show="state=='beneficiaryGroups'">
		<div class="pull-right">
			<button type="button" class="btn btn-primary pull-right" ng-click="showGroups()">Guardar como nuevo grupo</button>
		</div>
	</div>
	<div class="area-botones" ng-show="state=='multiplePayments';">
		<div class="pull-left" ng-hide="selectedGroup">
			<label class="fontNormal paddingTB10">
			<input type="checkbox" name="addToNewGroup-check" ng-click="showwwww()" id="el_checkkk">&nbsp;Agregar estos pagos a un grupo&nbsp;&nbsp;
			</label>
			<span ng-show='muestraelselect'>

<select id="finalOption" name="nombre_del_select">
<option value="100" selected="selected">Seleccione una opcion</option>
<option value="0">Nuevo grupo</option>
<option value="1">Ver más grupos</option>
<option value="2">-----------------</option>
<option value="3">Programadores V1.2 (norte)</option>
<option value="4">Grupo de diseño</option>
<option value="5">Ventas area local</option>
<option value="6">Proveedores</option>
<option value="7">Programadores V2.2 (sur)</option>
</select>



			</span>
		</div>
	</div>
</div>
