<div class="content-tabs">
	<div class="tab-pagos-multiples">
<div class="" ng-switch on="state">
<div ng-switch-when="multiplePayments">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>2</span> de <span>3</span></p>
				</div>
</div>
<div ng-switch-when="beneficiaryGroups">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>2</span> de <span>3</span></p>
				</div>
</div>
</div>
		<p>
			Confirme los datos de su(s) pago(s) y haga clic en "Aceptar". Si desea modificar, eliminar o adicionar pagos haga clic en "Regresar".
		</p>
		<div ng-show="state=='beneficiaryGroups'">
	        <p class="intrucciones"><strong>Nombre del grupo:&nbsp;&nbsp;</strong>{{selectedGroup.name}}</p>
		</div>		
		<table class="datos v-alignT">
			<tbody ng-repeat="payingAccount in ownpayingAccounts | filter:validateInterbankPayment">
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}">
					<td class="width4p" rowspan="2">
						<div class="head">Num.</div>
						<div class="content">{{$index + 1}}</div>
					</td>
					<td class="width30p">
						<div class="head">Cuenta retiro</div>
						<div class="content">{{payingAccount.source.originalObject.name}}</div>
					</td>
					<td class="width30p">
						<div class="head">Cuenta dep&oacute;sito</div>
						<div class="content">
							{{payingAccount.target.originalObject.name}} {{payingAccount.target.originalObject.bank_t}} {{payingAccount.target.originalObject.account_t}} - {{payingAccount.target.originalObject.currency_t}}
						</div>
					</td>
					<td class="width12p">
						<div class="head">Importe</div>
						<div class="content textR">{{payingAccount.amount | currency}} {{payingAccount.target.currency_t}}</div>
					</td>
					<td class="width24p">
						<div class="head">Fecha y hora de aplicaci&oacute;n</div>
						<div class="content">{{getAppliedDate(payingAccount)}}</div>
					</td>
				</tr>
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}" ng-show="payingAccount.target.originalObject.type_i === 2">
					<td class="borderNone">
						<div class="paddingT10">
							<div class="fila-interna">Autorizaci&oacute;n remota: {{payingAccount.remote ? 'Si' : 'No'}}</div>
							<div class="fila-interna">RFC: {{payingAccount.rfc}}</div>
							<div class="fila-interna">IVA:  {{payingAccount.iva | currency}}</div>
						</div>
					</td>
					<td class="borderNone">
						<div class="paddingT10">
							<div class="fila-interna">Concepto del pago: {{payingAccount.concept}}</div>
							<div class="fila-interna">Referencia Num&eacute;rica:  {{payingAccount.references? payingAccount.numeric : ''}}</div>
							<div class="fila-interna">Referencia Alfanum&eacute;rica:  {{payingAccount.references? payingAccount.alpha : ''}}</div>
						</div>
					</td>
					<td class="borderNone" colspan="2"></td>
				</tr>
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}" ng-show="payingAccount.target.originalObject.type_i === 1">
					<td class="borderNone">
						<div class="paddingT10">
							<div class="fila-interna">Autorizaci&oacute;n remota: {{payingAccount.remote ? 'Si' : 'No'}}</div>
							<div class="fila-interna">RFC: {{payingAccount.rfc}}</div>
							<div class="fila-interna">IVA:  {{payingAccount.iva | currency}}</div>
						</div>
					</td>
					<td class="borderNone">
						<div class="paddingT10">
							<div class="fila-interna">Concepto del pago: {{payingAccount.concept}}</div>
							<div class="fila-interna">N&uacute;mero de referencia:  {{payingAccount.references? payingAccount.numeric : ''}}</div>
						</div>
					</td>
					<td class="borderNone" colspan="2"></td>
				</tr>
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}" ng-show="payingAccount.target.originalObject.type_i === 3">
					<td class="borderNone">
						<div class="paddingT10">
							<div class="fila-interna">Autorizaci&oacute;n remota: {{payingAccount.remote ? 'Si' : 'No'}}</div>
							<div class="fila-interna">Sucursal: {{payingAccount.branch}}</div>
						</div>
					</td>
					<td class="borderNone" colspan="3"></td>
				</tr>
			</tbody>

			<tfoot>
				<tr>
					<td colspan="3" class="textR paddingR10">TOTAL A PAGAR:</td>
					<td class="textR ">
						<div class="paddingR5">{{ getTotalPayment(ownpayingAccounts) | currency}}</div>
					</td>
					<td></td>
				</tr>
			</tfoot>

		</table>
	</div>
</div>
