<div class="content-tabs">
  <div class="tab-pagos-multiples">

    <div>
        <!--div class="clear-fix">
          <p class="paginador" ng-hide="collapseFive">Paso <span>1</span> de <span>4</span></p>
        </div-->
        <p class="pull-left">
          Para pagar a un grupo de beneficiarios seleccione el grupo y de clic en el botón “Continuar”.
        </p>    
        <p class="pull-right">
        <angucomplete id="groups"
                        placeholder="Nombre del grupo"
                        pause="20"
                        selectedobject="payingAccount.source.originalObject"
                        url="http://projects.anzen.com.mx:4567/api/allgroups?query="
                        datafield="docs"
                        titlefield="name"
                        minlength="1"
                        enabledefault="true"
                        class="pull-left"
                        inputclass="form-control form-control-small search"/>
          <a class="pull-right displayB paddingT10 width110" href="javascript:void(0);" ng-click="newGroup()">Dar de alta a un grupo</a>
          <!--p class="paginador">Paso <span>1</span> de <span>4</span></p-->
        </p>

{{results}}

    </div>
    <br>
    <table class="table marginB0">
      <thead>
        <tr>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border textL"><strong class="padding5">Nombre del grupo</strong></td>
          <td class="border textL"><strong class="padding5">&Uacute;ltimo pago</strong></td>
          <td class="border textL"><strong class="padding5">&Uacute;ltimo importe pagado</strong></td>
          <td class="border textL"><strong class="padding5">N&uacute;mero de integrantes</strong></td>
          <td class="border textL"><strong class="padding5">Fecha de creaci&oacute;n</strong></td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
      <tr ng-class-odd="'bgf0f4f9'" ng-class-even="" ng-repeat="group in groups.docs">
        <td>
          <div class="content">
            <input type="radio" name="grupo-ben-interbancarias" ng-click="selectGroup(group); disableDiv(); ">
          </div>
        </td>
        <td>
          <div class="content">
            <strong>{{$index + 1}}</strong>
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.name}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.last_date_dt | date:'dd/MM/yyyy hh:mm'}} hrs.
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.total_d | currency}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.items_i}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.creation_date_dt | date:'dd/MM/yyyy hh:mm'}} hrs.
          </div>
        </td>
        <td class="v-alignM">
          <div class="tooltip-eliminar tooltip-grupos{{$index}}">
            <p>Eliminar</p>
            <div class="arrow"></div>
          </div>
          <!-- <button class="btn btn-danger btn-cuadrado btn-tltp-grupos{{$index}}"
            ng-mouseover="show_tltp_eliminar('.tooltip-grupos'+$index, '.btn-tltp-grupos'+$index)"
            ng-mouseleave="hide_tltp('.tooltip-grupos'+$index)" ng-click="removeGroup($index)">
            <span class="ico-basurero"></span>
          </button> -->
          <button class="btn btn-danger btn-cuadrado btn-tltp-grupos{{$index}}"
            ng-mouseover="show_tltp_eliminar('.tooltip-grupos'+$index, '.btn-tltp-grupos'+$index)"
            ng-mouseleave="hide_tltp('.tooltip-grupos'+$index)" ng-click="showDeleteGroups()">
            <span class="ico-basurero"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="paginacion">
      <div class="pages">1 a 10 de 100</div>
      <div class="numbers">
        <a href="javascript:void(0);" class="deactive">&laquo; Anterior</a>
        <a href="javascript:void(0);" class="number active">1</a>
        <a href="javascript:void(0);" class="number">2</a>
        <a href="javascript:void(0);" class="number">3</a>
        <a href="javascript:void(0);" class="number">4</a>
        <a href="javascript:void(0);" class="number">5</a>
        <a href="javascript:void(0);">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</div>
