<div class="content-tabs">
  <div class="tab-pagos-multiples">

    <div class="clear-fix">
      <p class="paginador">Paso <span>1</span> de <span>3</span></p>
    </div>

    <p>
    Para pagar a un grupo de beneficiarios seleccione el grupo.
    </p>

    <table class="table">
      <thead>
        <tr>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border textL"><strong>Nombre del grupo</strong></td>
          <td class="border textL"><strong>&Uacute;ltimo pago</strong></td>
          <td class="border textL"><strong>&Uacute;ltimo importe pagado</strong></td>
          <td class="border textL"><strong>N&uacute;mero de integrantes</strong></td>
          <td class="textL"><strong>Fecha de creaci&oacute;n</strong></td>
        </tr>
      </thead>
      <tbody>
      <tr ng-class-odd="'bgf0f4f9'" ng-class-even="" ng-repeat="group in groups.docs">
        <td>
          <div class="content">
            <input type="radio" name="grupo-ben-interbancarias" ng-click="selectGroup(group); disableDiv(); ">
          </div>
        </td>
        <td>
          <div class="content">
            <strong>{{$index + 1}}</strong>
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.name}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.last_date_dt | date:'dd/MM/yyyy hh:mm'}} hrs.
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.total_d | currency}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.items_i}}
          </div>
        </td>
        <td class="textL">
          <div class="content">
            {{group.creation_date_dt | date:'dd/MM/yyyy hh:mm'}} hrs.
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
