<div class="content-tabs">
	<div class="tab-pagos-multiples">
<div class="" ng-switch on="state">
<div ng-switch-when="multiplePayments">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>3</span> de <span>3</span></p>
				</div>
</div>
<div ng-switch-when="beneficiaryGroups">
				<div class="clear-fix">
					<p class="paginador" ng-hide="collapseFive">Paso <span>4</span> de <span>4</span></p>
				</div>
</div>
</div>
		<div class="alert-succes">
			<p>Sus pagos han sido transferidos. <span>Por favor verifique el estatus de sus movimientos.</span></p>
		</div>
		<div class="content-box">
			<p class="title pull-left">Autorizadores</p>
			<div class="contenido pull-right">
				<table class="datos">
					<tbody>
						<tr class="bgf0f4f9">
							<td><strong>Usuario 79</strong></td>
							<td>BEST BANKING DOS</td>
						</tr>
						<tr>
							<td><strong>Usuario 97</strong></td>
							<td>BEST BANKING</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="clear-fix">
			<a href="" class="pull-right">
				<span class="ico-print">
					<span class="ico-print-h"></span>
				</span>
			</a>
		</div>

		<table class="datos">
			<tbody>
				<tr ng-class="{bgf0f4f9: $index % 2 == 0}" ng-repeat="payingAccount in ownpayingAccounts | filter:validateInterbankPayment">
					<td>{{$index + 1}}</td>
					<td>{{payingAccount.source.originalObject.name}}</td>
					<td>{{payingAccount.target.originalObject.name}} {{payingAccount.target.originalObject.bank_t}} {{payingAccount.target.originalObject.account_t}} - {{payingAccount.target.originalObject.currency_t}}</td>
					<td class="textR">{{payingAccount.amount | currency}} {{payingAccount.target.currency_t}}</td>
					<td>{{payingAccount.appliedDate}}</td>
					<td>Aplicada</td>
					<td>001005</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<td class="width14-2p border">Num.</td>
					<td class="width14-2p border">Cuenta retiro</td>
					<td class="width14-2p border">Cuenta dep&oacute;sito</td>
					<td class="width14-2p border">Importe</td>
					<td class="width14-2p border">Fecha / Hora de Aplicaci&oacute;n</td>
					<td class="width14-2p border">Estatus</td>
					<td class="width14-2p">Autorizaci&oacute;n</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3" class="textR paddingR10">TOTAL A PAGAR:</td>
					<td>
						<div class="textL paddingL5">{{ getTotalPayment(ownpayingAccounts) | currency}}</div>
					</td>
					<td colspan="3"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
